<h1>Welcome to angular web Development {{title}} from {{location}}</h1>
<hr>
<div>
    <app-boxa labelvalue="Location" [data]="location" (onBoxvaluechange)="onBoxvaluechange($event);"></app-boxa>
</div>
<div>
    <app-boxa [data]="location"></app-boxa>
</div>
<div>
    <!-- <app-customer-form></app-customer-form> -->
    <!-- <app-employeeform></app-employeeform> -->
    <!-- <app-study-reactiveform></app-study-reactiveform> -->
    <!-- <app-book-list></app-book-list> -->
    <app-read-json></app-read-json>
    <!-- <app-book-catalog></app-book-catalog> -->
    <app-menu></app-menu>
    <router-outlet></router-outlet>
</div>