<div class="container">
    <div class="table-responsive displaytable">
        <h1 class="text-center">Pcr-Registered Details</h1>
        <table id="displaying-data" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Aadharno</th>
                    <th>Dob</th>
                    <th>city</th>
                    <th>dataoftest</th>
                    <th>Testtime</th>
                    <th>result</th>
                    <th>labname</th>
                    <th>Report</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
                <tr id="display-row">

                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <div class="search">
        <div class="form-group col-md-4 d-flex">
            <input type="search" id="findval" class="form-control" placeholder="Type Aadhar N0 to search">
            <button class="btn btn-primary" type="submit" id="valsearch" (click)="call();" class="form-group"
                value="search">search</button>
        </div>
        <span id="searchnotification" class="empty">Aadhar id Not Found</span>

    </div>
</div>
<div class="container">
    <div id="resultdisplay" class="table-responsive secondtable">
        <table id="result-table" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Aadharno</th>
                    <th>Dob</th>
                    <th>city</th>
                    <th>dataoftest</th>
                    <th>Testtime</th>
                    <th>result</th>
                    <th>labname</th>
                    <th>Report</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
                <tr id="display-row">

                </tr>
            </tbody>
        </table>
    </div>
</div>